<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<h1><a href="https://pablomurod.com" style="color:black">PABLO MUÑOZ-RODRÍGUEZ, D.Phil.</a></h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
		        	<li><a href="/projects">Projects</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:pablo.munoz@ucm.es" target="_blank">E-mail</a></li>
					<li><a href="https://scholar.google.com/citations?user=fl0V-DkAAAAJ" target="_blank">Google Scholar</a></li>
					<li><a href="https://www.researchgate.net/profile/Pablo-Munoz-Rodriguez" target="_blank">ResearchGate</a></li>
				</ul>
			</footer>
		</body>
	</html>
